@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Montserrat:wght@600;700&display=swap');

:root {
    --text: #fff;
    --body-text: #333;
    --main-background: #f4f4f4;
    --accent-background: #007bff;
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    color: var(--body-text);
    background-color: var(--main-background);
    margin: 0;
    padding: 0;
}

header,
footer {
    color: var(--text);
    background-color: var(--accent-background);
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    color: var(--text);
    text-decoration: none;
    background-color: var(--accent-background);
    margin: 5px;
    padding: 10px;
    border: 1px white solid;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    transition: .3s;
}

nav ul li:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
}

#main {
    color: var(--accent-background);
    background-color: var(--text);
}

main * {
    font-family: 'Comfortaa', sans-serif;
    line-height: 2;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

p {
    text-indent: 50px;
}

#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}